
%h1 Listing quotes

%table#quotesTable
  %tr
    %th Author
    %th Quote

  - @quotes.each do |quote|
    %tr.quote
      %td= quote.author
      %td= quote.quote

%footer
  = link_to_next_page @quotes, 'Load more..'
